# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# 虛擬環境
venv/
env/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
static/blog

# 環境設定
mysite/.env
*.env
.env.*

# IDE
.vscode/
.idea/
*.swp

# 系統檔案
.DS_Store

